{% extends "base.html" %}
{% load static %}
{% block main %}
<button class="float-button icon-download secondary" onclick="takeshot()"></button>
<div class="ticket">
	<table class="card">
		<tr>
			<td>
				#$%<br/><br/>
				<div style="text-align:right;">
					<strong>Calories burned</strong>
					<br/>
					<span>{{ data.user.0 }}'s Current week</span>
				</div><br/><br/><br/>
			</td>
			<td></td>
		</tr>
		<tr><td>************************</td><td>*****</td></tr>
		<tr>
			<td><strong>&nbsp;&nbsp;&nbsp;Item</strong></td>
			<td><strong>&nbsp;CAL</strong></td>
		</tr>
		<tr><td>************************</td><td>*****</td></tr>
		{% for item in data.items %}
		<tr>
			<td>
				{{ item.0 }}<br/>
				&nbsp;&nbsp;&nbsp;{{ item.1 }}
				<br/>
			</td>
			<td><br/>&nbsp;{{ item.2 }}</td>
		</tr>
		{% endfor %}
		<tr><td>************************</td><td>*****</td></tr>
		<tr>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Total</strong></td>
			<td>&nbsp;{{ data.calories }}</td>
		</tr>
		<tr><td>************************</td><td>*****</td></tr>
		<tr><td style="text-align:center;" colspan="2"><br/><br/><span>Thank you!!!</span><br/><br/><br/><br/></td></tr>
		<tr><td style="text-align:right;" colspan="2"><small>{{ request.build_absolute_uri }}</small></td></tr>
	</table>
</div>

{% endblock %}	
