//
// Variables
// --------------------------------------------------

// Fonts
// -------------------

$headingFont: 'Trebuchet MS', sans-serif;
$paragraphFont: 'Helvetica', sans-serif;


// Colours
// -------------------

$primaryColor: #DF6426;
$secondaryColor: #F6921E;

$textColor: #000000;
$baseColor: #EEEEEE;

$socialFacebook: #3B5998;
$socialTwitter: #00ACED;
$socialInstagram: #3F729B;
$socialYoutube: #CD201F;
$socialGoogle: #4285F4;

$errorColor: #AA0000;
$successColor: #00AA00;
$baseFontSize: 16px;

// Breakpoints
// -------------------

$breakpoints: (
	'mobile': (max-width: 736px),
	'tablet': (max-width: 1024px),
	'desktop': (min-width: 1200px),
);

// Include gutter on outside 
$gutterOnOutside: true;

// Breakpoints Grid Settings
// -------------------

$grid-settings: (
	base: (
		container-columns: 12,
		gutter: 1%,
		max-width: 1100px,
	),
	desktop: (
		container-columns: 12,
		gutter: 1%,
		max-width: 1200px,
	),
	tablet: (
		container-columns: 12,
		gutter: 5%,
	),
	mobile: (
		container-columns: 1,
		gutter: 5%,
	)
);
