@import 'dapricot/scss/reset.scss';
@import 'variables.scss';

@import 'dapricot/scss/mixins/grid.scss';
@import 'dapricot/scss/mixins/helpers.scss';

@import 'dapricot/scss/type.scss';
@import 'dapricot/scss/fonts.scss';
@import 'dapricot/scss/global.scss';

@import 'dapricot/scss/components/buttons.scss';
@import 'dapricot/scss/components/cards.scss';
@import 'dapricot/scss/components/forms.scss';
@import 'dapricot/scss/components/menus.scss';
@import 'dapricot/scss/components/tooltips.scss';

@import 'dapricot/scss/partials/header.scss';
@import 'dapricot/scss/partials/footer.scss';
@import 'dapricot/scss/partials/grid.scss';

@font-face {
  font-family: 'dotmatrix';
  src: url(static('fonts/DOTMATRI.TTF')) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dotmatrix';
  src: url(static('fonts/DOTMBold.TTF')) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@mixin aspect-ratio($width, $height) {
  aspect-ratio: $width / $height;
  // Fallback (current, using padding hack)
  @supports not (aspect-ratio: 1 / 1) {
     &::before {
      float: left;
      padding-top: calc(100% * #{$height} / #{$width});
      content: "";
    }
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

small {
  font-size: smaller;
}

.float-button {
	position: fixed;
	top: calc(100% - 45px);
	left: 10px;

	border-radius: 50px;
	z-index: 1000;
}

.ticket {
	font-family: "dotmatrix", normal;
    font-weight: normal;
    font-size: 1.2em;
    
	background: $primaryColor;
	
	float: left;
	width: auto;
	max-width: 100vw;
	padding: 10px;
    @include aspect-ratio(9, 16);
	
//
    table {
    	width: inherit;
    	height: inherit;
		margin: 0px;
		padding: 0px;
		border-spacing: 10px;
		border-width: 0px;
    	border-collapse: separate;
	   	td {
			padding: 0px ;
		}
	}
}