{% extends "base.html" %}
{% load static %}
{% block main %}
<article class="grid-main">
	<div class="container">
	
		<div class="box full card autoheight">
			<h1>Fun fitness stats</h1>
		</div>
		<a class="box half card-primary autoheight" href="{% url 'calories' %}">
			<h2 class="icon-list">Get your weekly calories</h2>
		</a>
	</div>
</article>
{% endblock %}	
